/* Reset de estilos para mejorar la consistencia entre navegadores */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos generales */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para la sección del héroe */
.hero {
    background-image: url('https://www.infobae.com/new-resizer/7WPn0J30BXBWcZ49ADBkpStQYNY=/arc-anglerfish-arc2-prod-infobae/public/NNC7TA7K2NG5HM2REZSAE244XE.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilos para la sección de características */
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.feature {
    text-align: center;
    max-width: 300px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para botones */
.btn {
    display: inline-block;
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e67e22;
}